<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= title %></title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="copyright" content="Chris Johnson">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    <base href="/">

    <meta name="viewport" content="width=device-width">
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
        <%- body %>

	<!-- Javascript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</body>
</html>